*.pyc
*.pyo
*.pkl*

proposal/proposal.aux
proposal/proposal.log
proposal/proposal.out
proposal/proposal.pdf

project_writeup/project_writeup.aux
project_writeup/project_writeup.log
project_writeup/project_writeup.out
project_writeup/project_writeup.pdf

slides/slides.aux
slides/slides.log
slides/slides.nav
slides/slides.out
slides/slides.pdf
slides/slides.snm
slides/slides.toc


data/our_answers*
